{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}

{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}

<h1>{{ category }}</h1>

    <h2>Всего статей: {{ news }}</h2>
    {% if posts %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Анонс статьи
                </td>
                <td>
                    Категория
                </td>

            </tr>
            {% for post in posts %}
            <tr>
                <td>
                    <a href="{% url 'post_list' post.id %}">{{ post.title|censor }}</a>
                    <a href="{% url 'update' post.id %}"> Редактировать </a>
                    <a href="{% url 'delete' post.id %}">Удалить </a>
                </td>
                <td>
                    {{ post.dateCreation|date:'d M Y' }} {{ post.dateCreation|time:"H:i" }}
                </td>
                <td>
                    {{ post.text|truncatechars:20|censor }}
                </td>
                <td>
                    {{ post.get_caregoryType_display }}
                </td>

            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Постов нет</h2>
    {% endif %}

<a href="{% url 'create' %}">Добавить новый пост</a><br>

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}


<a href="{% url 'subscribe' category.id %}">Подписаться</a>

{% endblock content %}